@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root {
  --page-bg-color: #ffffff;
  --page-text-color: #000000;
  --content-bg-color: #eeeeee;
  --content-text-color: #000000;
  --secondary-content-bg-color: #dddddd;
  --secondary-content-text-color: #000000;
}

body {
  background-color: var(--page-bg-color);
  color: var(--page-text-color);
  margin: 0;
  box-sizing: border-box;
}

.contentTheme {
  background-color: var(--content-bg-color);
  color: var(--content-text-color);
}

.secondaryContentTheme {
  background-color: var(--secondary-content-bg-color);
  color: var(--secondary-content-text-color);
  border-color: var(--content-text-color);
}

.secondaryContentTheme::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-content-text-color);
  opacity: 1; /* Firefox */
}

.secondaryContentTheme:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--secondary-content-text-color);
}

.secondaryContentTheme::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--secondary-content-text-color);
}